@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: delbar;
        src: url("./fonts/Digi Delbar3.ttf");
    }
    @font-face {
        font-family: faNum;
        src: url("./fonts/IRANSansWeb(FaNum)_Medium.ttf");
    }
    @font-face {
        font-family: iranLight;
        src: url("./fonts/IRANSansWeb(FaNum)_Light.ttf");
    }
    @font-face {
        font-family: vazir;
        src: url("./fonts/Vazir/Vazir.ttf");
    }
    @font-face {
        font-family: yekan;
        src: url("./fonts/BYekan+.ttf");
    }

    body {
        font-family: yekan;
        direction: rtl;
        overflow-x: hidden;
        /* background: linear-gradient(90deg, rgba(26, 26, 26, 1) 0%, rgba(45, 52, 50, 1) 51%, rgba(17, 77, 57, 1) 100%); */
        background: #f5efe6;
    }

    input,
    textArea,
    select {
        box-shadow: none !important;
        outline: none !important;
    }

    ::-webkit-scrollbar {
        @apply md:w-1;
    }
    ::-webkit-scrollbar-track {
        @apply bg-inherit rounded-2xl;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-secondary rounded-3xl;
    }

    /* .swiper-slide {
        height: 100% !important;
    } */
    /* .swiper-initialized {
        @apply p-10 rounded-xl  !important;
    } */

    table tr {
        @apply bg-primary text-primaryLight;
    }
   
    table th {
        @apply bg-secondary text-primaryLight;
    }
    table th , td {
        @apply p-3 ;
    }
    table > th , td {
        @apply  border-2 border-collapse;
    }
}

@layer utilities {
    .nav-link{
        @apply cursor-pointer transition-all duration-200 hover:text-minorTX duration-300 transition-all py-3;
    }
    .btn {
        @apply rounded-xl text-light p-3 font-bold transition-all duration-200 hover:bg-secondary;
    }
    .customers-section img{
        @apply sm:h-12 md:h-16 sm:w-12 md:w-16 rounded-xl;
    }
    .subMenu-link {
        @apply hover:bg-black/40 p-3 transition-all cursor-pointer;
    }

    .subMenu-link:first-child,
    .subMenu-link:last-child {
        @apply rounded-xl;
    }
}
